/*

CSS Rules and Styling for Online Store contact page

*/

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(fontawesome.css);

/* Basic page styling specifying font and layout*/
body {
    font-family: monospace;
    width: 100%;
    margin: 0%;
    position: relative;
    overflow-x: hidden;
    align-content: center;
}

/* The scroll behaviour is changed here to give it a smoother feel */
html {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Grid display here allows for explicit placement of elements */
.grid-container {
    display: grid;
}

.header {
    background: rgb(12, 12, 27);
    box-shadow: 5px 5px 5px 5px rgb(35, 197, 3);
}

/* The below styles the background of the page */
.page-wrap {
    background-color: rgb(12, 12, 27);
    background-size: cover;
    width: 100%;
}

/* NAV styling */
.main-nav {
    text-align: left;
    grid-row: 1;
    background: rgb(35, 197, 3);
}


/*The below styling is applied to the list elements in the main-nav.
  List items will be aligned horizontally */
.main-nav ul li {
    display: inline-block;
}


/* The below styling is applied to the links/list elements. */
.main-nav li a {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 15px;
    font-weight: 650;
    color: rgb(0, 0, 0);
    width: auto;
    transition: all 0.5s;
    text-decoration: none;
}


/* Heading */

.landingBar {
    background: rgb(12, 12, 27);
    background-size: cover;
    grid-row: 2;
    height: 125px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(12, 12, 27);
}

/*stying for h1 elements*/
h1 {
    color: rgb(255, 255, 255);
    font-family: monospace;
    /* Padding below is specified ito align element optimally */
    padding-top: 25px;
    padding-left: 3%;
}


/*The below styling specifies the a line rule type of element*/
.line-dec {
    width: 90%;
    height: 10px;
    background-color: rgb(35, 197, 3);
    margin: 10px auto;
    border-radius: 2px;
}


/* Product offering bar */
/* Here the position on the grid is specified, its box size and how the elements within 
   will be displayed */
.poBar {
    grid-row: 4;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    /* This specifies that the items in the poBar will be displayed horizontally */
    display: inline-block;
    box-shadow: 5px 5px 5px 5px grey;
}

/* The properties of the h4 element in the poBAr class is specified here.
   The text aligned to the bottom-center of the box (respectively), and 
   the text color is dark blue. */
.poBar h4 {
    margin-bottom: 0px;
    text-align: center;
    color: rgb(12, 12, 27);
}

/* The img element within the service-icon class is given its properties here.
   Its dimension 70x70 give it a square border.
   The margin properties align it to the center of the block.
   Here the transition property will come into affect when the hover feature is applied,
   giving the transition a smoother look and feel
    */
.service-icon img {
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.25s;
    border-radius: 3px;
}

.service-icon-net img {
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.25s;
    border-radius: 3px;
}

.service-icon-storage img {
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.25s;
    border-radius: 3px;
}

.service-icon-server img {
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.25s;
    border-radius: 3px;
}

/* Hover behaviour for icons in the poBar.
   The cursor will change to a pointer and
   a box shadow will appear*/

.service-icon-storage img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(35, 197, 3);
    border-radius: 3px;
}

.service-icon-server img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(245, 229, 4);
    border-radius: 3px;
}

.service-icon-net img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(0, 217, 255);
    border-radius: 3px;
}

.service-icon img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(114, 106, 110);
    border-radius: 3px;
}

/* Hover behaviour for nav list items.
   The text will change to white and 
   the cursor will change to a pointer*/
.main-nav li:hover a,
.main-nav li.active a {
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.container {
    margin-top: 50px;
}


/* Styling for input field boxes of form */

.section {
    background-color: rgb(12, 12, 27);
    color: ghostwhite;
    padding-bottom: 25px;
}

.section-heading {
    text-align: center;
}

/* Styling for button */

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(12, 12, 27);
    color: white;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: rgb(35, 197, 3);
    color: rgb(12, 12, 27);
}

/* Back-To-Top link styling */

#BT {
    font-size: 15px;
    font-weight: 650;
    background-color: rgb(12, 12, 27);
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}

#BT :hover {
    color: rgb(35, 197, 3);
}

.box {
    color: rgb(231, 231, 243);
    background-color: rgba(12, 12, 27, 0.973);
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    text-align: center;
}

.box h4,
.box h5 {
    text-align: center;
    text-transform: uppercase;
}

/*wrapper styling and background animation*/
.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
    /*below specifies the duration of the animation - 20 seconds*/
    animation: bgcolor infinite 20s;
}

/*the below properties for the background color determine that
  at each stage of animation's progression(%) the color it will
  transition to*/
@keyframes bgcolor {
    0% {
        background: #23c503;

    }

    20% {
        background: #f5e504;
    }

    40% {
        background: #00d9ff;
    }

    60% {
        background: #c305ed;
    }

    80% {
        background: #848385;
    }

    100% {
        background: #23c503;
    }

}

/*styling for box f*/
.f {
    grid-column: 1/6;
    grid-row: 10;
    box-shadow: 5px 5px 5px 5px rgb(12, 12, 27);
    color: ghostwhite;
}

/*spacing between input filed/box elements*/
.row .col-md-6,
.row .col-md-12 {
    padding: 10px;
}

/*text color for footer*/
footer {
    color: rgb(131, 125, 125);
}

/*text alignment for company paragraph in footer*/
#company-paragraph {
    text-align: justify;
}